
nav {
    color: white;
    font-size: 46px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(38, 126, 226) , rgb(11, 14, 173));
}

.btn {
    background-color: rgb(60,72,91);
    color: white;
    width: 100%;
   
}
.clrbtn {
        background-color: rgb(60,72,91);
        color: white;
        width: 100%;
       
}

.card-city{
    border: none;
}

.cbforecast {
    margin: 20px;
}

.main-container {
    padding-bottom: 20px;
}

.holder{
    background-color: rgb(60,72,91);
}
.col{
    color: white;
}
.row {
    border: solid;
    font-size: 13px;
}